# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# Supabase
.supabase